.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  background-color: none;
  z-index: 999;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

.header-right{
    margin-right: 15px;
    display: flex;
    gap: 10px;
}

.header-left{
    margin-left: 15px;
}

.header-middle{
    
}

.header-middle-ul{
    display: flex;
    color: white;
    list-style: none;
    gap: 100px;
}

.header-middle-li{
   cursor: pointer;
}


@media (max-width: 768px) {
    .header-logo{
        width: 44px;
        margin: 25px 5px;
    }
    .header-middle-ul{
        display: flex;
        color: white;
        list-style: none;
        gap: 10px;
        font-size: 14px;
    }
    .header-right{
        margin-right: 10px;
        display: flex;
        gap: 10px;
    }
  }